$general-notice-green: #effffe;
$general-notice-border: #86e6ec;

$warning-notice-yellow: #fffdef;
$warning-notice-border: #eaec86;

.is-style-uh-notice-general {
  padding: 30px 20px;
  background-color: $general-notice-green;
  border: 1px solid $general-notice-border;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  a {
		color: #207AA7;
	}
}

.is-style-uh-notice-warning {
  padding: 30px 20px;
  background-color: $warning-notice-yellow;
  border: 1px solid $warning-notice-border;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  a {
		color: #207AA7;
	}
}