/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}

.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}

.navigation a:active,
.navigation a:hover,
.navigation a:focus {
	color: $system-secondary-color;
	text-decoration: underline;
}

.nav-previous {
	float: left;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

#nav-above {
	margin: 0 0 18px 0;
}

#nav-above {
	display: none;
}

.paged #nav-above,
.single #nav-above {
	display: block;
}

#nav-below {
	margin: 0;
	padding: 20px 0 0;
}

#nav-below a,
#nav-above a {
	color: #555555;
	font-family: "Open Sans", Tahoma, sans-serif;
}

.single #nav-below {
	border-top: 1px solid #dddddd;
}

/* =UHM Header Dropdown
-------------------------------------------------------------- */
.menu-item-has-children > a > .caret,
.page_item_has_children > a > .caret,
.header-dropdown-menu > a > .caret {
	display: none;
}

#header_dropdown_container {
	position: absolute;
	z-index: 9999;
	display: none;
	width: 100%;
	left: 0;
	background-color: #fff;
	top: 60px;
	height: 25px;
}

body.logged-in #header_dropdown_container {
	top: 109px;

	@media (min-width: 783px) {
		top: 104px;
	}
}

#header_dropdown_container.show {
	display: block;
}

#header_mainmenu_dropdown {
	display: none;
}

#header_mainmenu_dropdown.show {
	display: block;
}

#header_submenu_dropdown {
	display: none;
}

#header_submenu_dropdown.show {
	display: block;
}

.menu-item-has-children > ul,
.page_item_has_children > ul {
	display: none;
}

.menu-item-has-children > ul.show,
.page_item_has_children > ul.show {
	display: block;
}

#header_midrow {
	padding-left: 25px;
}

ul#menu-main-menu > li a,
ul#header_btm_content_dropdown > li a,
#header_btm_content_dropdown > ul > li a,
.link-container {
	@media (max-width: 1199px) {
		margin: auto !important;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

ul#menu-main-menu > li a,
ul#header_btm_content_dropdown > li a,
#header_btm_content_dropdown > ul > li a,
.link-container,
.dropdown_search_container {
	@media (min-width: 576px) {
		max-width: 540px;
	}

	@media (min-width: 768px) {
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}
}

@media (max-width: 1199px) {
	.menu-item-has-children > a > .caret,
	.page_item_has_children > a > .caret,
	.header-dropdown-menu > a > .caret {
		background: url("../images/icon-menu-dropdown-arrow.png") no-repeat 0 0 / 17px auto;
		display: flex;
		float: right;
		align-self: flex-end;
		padding: 25px 25px 25px 25px;
		background-position: center;
	}

	.menu-item-has-children > a > .caret.expanded,
	.page_item_has_children > a > .caret.expanded,
	.header-dropdown-menu > a.expanded > .caret {
		background: url("../images/icon-menu-dropdown-up-arrow.png") no-repeat 0 0 / 17px auto;
		padding: 25px 25px 25px 25px;
		background-position: center;
	}

	#header_top {
		a,
		input {
			font-size: 18px;
		}

		.fa {
			font-size: 25px;
		}
	}

	#header_dropdown_container {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding-top: 20px;
		background-color: #eeeeee;
	}

	#header_dropdown_search {
		.dropdown_search_container {
			margin: auto;
			padding: 20px 50px;
		}

		form {
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: row-reverse;
			border: none;
			background-color: #eee;
			height: 40px;
		}
	}

	.header-dropdown-menu li {
		padding: 0 !important;
		background: #fff;
	}

	.header-dropdown-menu {
		padding: 0 !important;
		background: #eee;
	}

	.header-dropdown-menu li:not([class*=has_children]):not([class*=has-children]) a {
		display: flex;
		padding: 10px 20px;
		background: #fff;
	}

	.header-dropdown-menu li[class*="has-children"] a {
		padding-right: 0px;
	}

	.header-dropdown-menu li {
		border-top: solid 1px #dadada;
	}

	ul#menu-main-menu > a,
	.header-dropdown-menu > a,
	.header-dropdown-menu li.menu-item-has-children > a,
	.header-dropdown-menu li.page_item_has_children > a {
		padding-left: 20px;
	}

	#header_mainmenu_dropdown > li:not(#header_dropdown_search) > a,
	ul#menu-main-menu > li > a,
	ul#header_btm_content_dropdown > li > a,
	#header_btm_content_dropdown > ul > li > a {
		padding-left: 50px;
	}

	#header_mainmenu_dropdown > li:not(#header_dropdown_search) > ul > li > a,
	ul#menu-main-menu > li > ul > li > a,
	ul#header_btm_content_dropdown > li > ul > li > a,
	#header_btm_content_dropdown > ul > li > ul > li > a {
		padding-left: 80px;
	}

	ul#menu-main-menu > li > ul > li > ul > li a,
	ul#header_btm_content_dropdown > li > ul > li > ul > li a,
	#header_btm_content_dropdown > ul > li > ul > li > ul > li a {
		padding-left: 110px;
	}

	.header-dropdown-menu > a {
		color: #1B6B93;
		height: 50px;
		background: #eee;
	}

	.header-dropdown-menu a:visited {
		color: #000;
	}

	.header-dropdown-menu a:hover {
		text-decoration: none;
	}
}

@media only screen and (min-width: $xlarge-device-breakpoint) {
	#header_dropdown_container {
		position: static;
		display: block;
		width: auto;
		background-color: transparent;
		left: auto;
		top: auto;
	}

	.header-dropdown-menu a:first-of-type {
		display: none;
	}

	#header_dropdown_search {
		display: none;
	}

	ul#menu-main-menu,
	#header_mainmenu_dropdown:not(.show) {
		display: flex;
		flex-wrap: wrap;

		li {
			padding-bottom: 1em;

			@media only screen and (max-width: $medium-device-breakpoint) {
				padding-bottom: 0;
			}

			@media only screen and (min-width: 769px) {
				&:not(:last-child) a {
					margin: 0 20px 0 0;
				}
			}

			a {
				display: block;
				color: $link-color-light;
				text-align: center;
				text-decoration: none;

				&:active,
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	#header_submenu_dropdown {
		display: none;
	}

	#header_btm_content {
		width: auto;
	}

	.menu-item-has-children li,
	.page_item_has_children li{
		border-bottom: 1px solid #d1d1d1;
	}
}

/*
	Sidebar Block Navigation
*/
.uhm-block-dropdown {
	margin: 0;
}

.dropdown-secondary-new-blocks {
	margin: 0;
	width: 100%;
	padding: 0;
	> li:first-of-type {
		margin-top: 50px;
		list-style-type: none;
		width: 100%;
		padding: 30px 0;
		text-align: center;
		border: 1px solid #d1d1d1;

		> a {
			font-size: 16px;

			@media (min-width: $large-device-breakpoint) {
				font-size: 24px;
			}
		}
	}

	> li > ul {
		display: none;
	}

	.caret {
		background: url("../images/icon-menu-dropdown-arrow.png") no-repeat 0 0 / 17px auto;
		padding: 20px 30px;
		background-position: center;
		margin-left: 15px;
	}

	> li > ul.show {
		display: block;
	}
}

.dropdown-secondary-new-blocks.open {
	> li:first-of-type {
		background-color: $systems-primary-gray;
		border: none;
		> a:visited {
			color: $link-color-light;
		}
	}
	> li > ul {
		position: absolute;
		width: 100%;
		list-style: none;
		margin: 30px 0;
		z-index: 8888;
		padding-right: 30px;
		padding-left: 0;
	}
	> li > ul > li {
		border-bottom: 1px solid #d1d1d1;
		border-left: 1px solid #d1d1d1;
		border-right: 1px solid #d1d1d1;
		padding: 5px 0;
		background-color: #fff;

		a {
			text-align: left;
			display: block;
			padding: 10px 30px;

			@media (min-width: $large-device-breakpoint) {
				padding: 10px 70px;
			}
		}
	}
	.caret {
		background: url("../images/icon-menu-dropdown-up-arrow-white.png") no-repeat 0 0 / 17px auto;
		padding: 20px 30px;
		background-position: center;
		margin-left: 15px;
	}

	li.current_page_item > a {
		border-left: solid 5px $systems-primary-gray;

		padding: 10px 25px;

		@media (min-width: $large-device-breakpoint) {
			padding: 10px 65px;
		}
	}
}
